
.container img{
    
    border-radius: 15px;
    height: 350px;
    width: 350px;
    /* float: right; */
    margin-top: 15px;
    margin-right: 200px;
  
    
}

.container h1{
    color: hwb(33 4% 8%);
    margin-left: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
   
}
.container h3{
    color: bisque;
    justify-content: center;
    
}

.container p{
    color: bisque;
    justify-content: center;
   
}
